/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(208, 92%, 54%);
  --first-color-alt: hsl(208, 88%, 50%);
  --title-color: hsl(220, 68%, 4%);
  --white-color: hsl(0, 0%, 100%);
  --text-color: hsl(220, 15%, 66%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(220, 50%, 97%);
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", system-ui;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --tiny-font-size: .688rem;
  --second-font: "Jolly Lodger", system-ui;
  --biggest-font-size: 3.5rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --big-font-size: 3rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --tiny-font-size: .75rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

/*=============== LOGIN  ===============*/
.login {
  position: relative;
  height: 100vh;
  align-items: center;
  overflow: hidden;
}

.login__blob {
  display: none;
}

.login__title {
  font-size: var(--big-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 2rem;
}

.login__box {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--container-color);
  border-radius: 1rem;
}

.login__input {
  background: none;
  width: 100%;
  padding: 1.5rem 2.5rem 1.5rem 1.25rem;
  font-weight: var(--font-semi-bold);
  border: 3px solid transparent;
  border-radius: 1rem;
  z-index: 1;
  transition: border-color .4s;
}

.login__input:autofill {
  transition: background-color 6000s, color 6000s;
}

.login__label {
  position: absolute;
  left: 1.25rem;
  font-weight: var(--font-semi-bold);
  transition: transform .4s, font-size .4s, color .4s;
}

.login__icon {
  position: absolute;
  right: 1rem;
  font-size: 1.25rem;
  transition: color .4s;
}

.login__password {
  cursor: pointer;
  z-index: 10;
}

.login__forgot {
  display: block;
  width: max-content;
  margin: 1rem 0 0 auto;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--text-color);
  transition: color .4s;
}

.login__forgot:hover {
  color: var(--first-color);
}

.login__button {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding-block: 1.5rem;
  border-radius: 4rem;
  margin-block: 2rem;
  cursor: pointer;
  transition: background-color .4s, box-shadow .4s;
}

.login__button:hover {
  background-color: var(--first-color-alt);
  box-shadow: 0 8px 24px hsla(208, 92%, 32%, .3);
}

.login__social {
  margin-bottom: 2rem;
}

.login__social-title {
  text-align: center;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  margin-bottom: 1rem;
}

.login__social-img {
  width: 1rem;
}

.login__social-links {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
}

.login__social-link {
  width: 32px;
  height: 32px;
  background-color: var(--body-color);
  box-shadow: 0 4px 8px hsla(0, 0%, 0%, .1);
  border-radius: .5rem;
  display: grid;
  place-items: center;
  transition: transform .4s;
}

.login__social-link:hover {
  transform: translateY(-.25rem);
}

.login__switch {
  text-align: center;
  font-size: var(--small-font-size);
}

.login__switch button {
  background: none;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  transition: color .4s;
}

.login__switch button:hover {
  color: var(--first-color-alt);
}

.login__access, 
.login__register {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  transition: transform .4s, opacity .4s .1s;
}

.login__register {
  transform: translateX(15rem);
  opacity: 0;
  pointer-events: none;
}

/* Input focus move up label */
.login__input:focus ~ .login__label {
  transform: translateY(-12px);
  font-size: var(--tiny-font-size);
}

.login__input:focus {
  padding-block: 2rem 1rem;
}

/* Input focus sticky top label */
.login__input:not(:placeholder-shown).login__input:not(:focus) ~ .login__label {
  transform: translateY(-12px);
  font-size: var(--tiny-font-size);
}

.login__input:not(:placeholder-shown).login__input:not(:focus) {
  padding-block: 2rem 1rem;
}

/* Input focus color */
.login__input:focus {
  border-color: var(--first-color);
}

.login__input:focus ~ .login__label,
.login__input:focus ~ .login__icon {
  color: var(--first-color);
}

/* Show hide login & create account */
.active .login__access {
  transform: translateX(15rem);
  opacity: 0;
  pointer-events: none;
}

.active .login__register {
  transform: translateX(0);
  opacity: 1;
  pointer-events: initial;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 540px) {
  .login__area {
    width: 380px;
    margin-inline: auto;
  }
}

@media screen and (min-width: 350px) and (max-height: 600px) {
  .login {
    height: 760px;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .login__area {
    width: 460px;
    margin: initial;
  }
  .login__access, 
  .login__register {
    width: 600px;
  }
  .login__title {
    text-align: initial;
    margin-bottom: 3rem;
  }
  .login__button {
    margin-bottom: 3rem;
  }
  .login__group {
    grid-template-columns: repeat(2, 1fr);
  }
  .login__blob {
    display: block;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
  }
  .login__img {
    transform: translate(0rem, 0rem);
  }
}






.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: box-shadow .4s;
}

.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.nav__logo{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;

}
.nav__logo:hover{
  color: var(--first-color);
}
.nav__toggle,
.nav__close{
  display: flex;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}


@media screen and (max-width: 1150px) {
  .nav__menu{
    position: fixed;
    top: -120%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 2px 16px hsla(25, 48%, 12%, .2);
    width: 100%;
    padding-block: 5rem;
    transition: top .4s;

  }
  
}
.nav__list{
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;

}
.nav__link{
  color:var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;

}
.nav__link:hover{
  color:var(--first-color);

}
.nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;

}
.show-menu{
  top:0;
}
.shadow-header{
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(25, 48%, 12%, .2);
}


.home__container{
  height: 100vh;
  padding-top: 7rem;
  row-gap: 2rem;
}
.home__data{
  text-align: center;

}
.home__title{
  font: var(--font-regular) var(--biggest-font-size) var(--second-font);
  line-height: 100%;
  color: var(--title-color);
  margin-bottom: .5rem;

}
.home__description{
  margin-bottom: 1.5rem;

}
.home__button{
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding: 1rem 2rem;
  border-radius: 4rem;
  box-shadow: 0 16px 32px hsla(25, 90%, 40%, .3);
  transition: background-color .4s;
}
.home__button:hover{
  background-color: var(--body-color);
  color: black;
}

.home__images{
  position: relative;
  justify-self: center;

}
.home__image-1,
.home__image-2{
  width: 300px;

}
.home__image-1{
  filter: drop-shadow(0 16px 48px hsla(25, 90%, 40%, .5));

}
.home__image-2{
  position: absolute;
  top: 0;
  left: 0;
  animation: flicker 8s linear infinite;

}
@keyframes flicker{
  0%{
    opacity:0;
  }
  31.98%{
    opacity:0;
  }
  32%{
    opacity:1;
  }
  32.8%{
    opacity:1;
  }
  32.82%{
    opacity:0;
  }
  34.98%{
    opacity:0;
  }
  35%{
    opacity:1;
  }
  35.7%{
    opacity:1;
  }
  35.72%{
    opacity:0;
  }
  36.98%{
    opacity:0;
  }
  37%{
    opacity:1;
  }
  37.6%{
    opacity:1;
  }
  37.62%{
    opacity:1;
  }
  67.98%{
    opacity:1;
  }
  68%{
    opacity:1;
  }
  68.4%{
    opacity:1;
  }
  68.42%{
    opacity:0;
  }
  95.98%{
    opacity: 0;
  }
  96%{
    opacity: 1;
  }
  96.7%{
    opacity: 1;
  }
  96.72%{
    opacity: 0;
  }
  98.98%{
    opacity: 0;
  }
  99%{
    opacity: 1;
  }
  99.6%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }

}


.atropos-inner{
  overflow: initial;
}

/* ====== BREAKPOINTS ===*/
@media screen and (max-width: 320px) {
  .container{
    margin-inline: 1rem;

  }
  
}
@media screen and (min-width: 350px) and (max-height: 680px){
  .home__container{
    height: 780px;
  }
}

@media screen and (min-width: 576px) {
  .home__container{
    grid-template-columns: 380px;
    justify-content: center;

  }
  
}

@media screen and (min-width: 1150px){
  .container{
    margin-inline: auto;
  }
  .nav{
    height:calc(var(--header-height) + 2rem);

  }
  .nav__toggle,
  .nav__close{
    display: none;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 5rem;
  }
  .home__container{
    grid-template-columns: 512px 560px;
    align-items: center;
    column-gap: 3rem;

  }
  .home__data{
    text-align: initial;
  }
  .home__description{
    padding-right: 9rem;
    margin-bottom: 3rem;
  }
  .home__image-1,
  .home__image-2{
    width: 560px;
  }
}
@media screen and (max-width: 1150px) and (min-height: 900px) {
  .home__container{
    align-content: center;
  }
  
}




/* dashboard*/
body .navbar {
  -webkit-box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);
  background-color: #2348AF;
  height: 70px;
}

body .navbar .companylogo {
  padding: 5px 0 5px 10%;
}

body .container {
  width: 75%;
  margin: auto;
  margin-bottom: 30px;
}

body .container .getquotetext {
  font-weight: normal;
  opacity: 0.8;
}

body .container .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .blocks p {
  opacity: 0.7;
}

body .container .blocks .left, body .container .blocks .right {
  background-color: #fff;
  width: 100%;
}

body .container .blocks .left {
  margin-right: 20px;
  background-color: transparent;
}

body .container .blocks .left .triptype {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .blocks .left .triptype > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .container .blocks .left .one-way-button {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: #2348AF;
  color: #fff;
  padding: 15px 15px;
  cursor: pointer;
}

body .container .blocks .left .round-trip-button {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: #fff;
  color: #000;
  padding: 15px 15px;
  cursor: pointer;
}

body .container .blocks .left .date-input-container {
  width: 100%;
}

body .container .blocks .left .date-input-container i {
  position: absolute;
}

body .container .blocks .left .date-icon {
  padding: 20px;
  z-index: 1;
}

body .container .blocks .left .date-input-field {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  padding-left: 55px;
}

body .container .blocks .left .fas {
  color: #2348AF;
  margin-right: 18px;
  font-size: 20px;
}

body .container .blocks .left .select {
  position: relative;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body .container .blocks .left .select .selectBtn {
  background: var(--bg1);
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #fff;
}

body .container .blocks .left .select .selectBtn::after {
  content: "";
  position: absolute;
  top: 45%;
  right: 15px;
  width: 6px;
  height: 6px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

body .container .blocks .left .select .selectBtn .toggle {
  border-radius: 3px 3px 0 0;
}

body .container .blocks .left .select .selectBtn .toggle::after {
  -webkit-transform: translateY(-50%) rotate(-135deg);
          transform: translateY(-50%) rotate(-135deg);
}

body .container .blocks .left .select .selectDropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  background: var(--bg1);
  border-top: 1px solid #eee;
  z-index: 1;
  background: #fff;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  visibility: hidden;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body .container .blocks .left .select .selectDropdown .option {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

body .container .blocks .left .select .selectDropdown .option:hover {
  background: #f8f8f8;
}

body .container .blocks .left .select .toggle {
  visibility: visible;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

body .container .blocks .right {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body .container .blocks .right table {
  padding: 20px;
  text-align: left;
}

body .container .blocks .right table th {
  opacity: 0.7;
}

body .container .blocks .right table td {
  opacity: 0.6;
}

body .container .blocks .right .trip-detail-container {
  padding: 30px;
  padding-top: 0;
}

body .container .blocks .right .trip-detail-title, body .container .blocks .right .total-price {
  color: #2348AF;
  opacity: 0.7;
}

body .container .blocks .right table {
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.5em;
}

body .container .blocks .right tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .blocks .right hr {
  opacity: 0.3;
}

body .container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

body .container .buttons button {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: #2348AF;
  color: #ffffff;
  padding: 15px 15px;
  cursor: pointer;
}

@media screen and (max-width: 989px) {
  .blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */



/* Variables */


